<%= form_with model: @question do |form| %>
  <h1> <%= form.label :body, 'Create question' %> </h1>

  <p> <%= form.text_area :body, rows:5 %> </p>

  <h1> <%= form.label :user_id%> </h1>

  <p> <%= form.text_field :user_id%> </p>

  <p> <%= form.submit 'Create' %> </p>
<% end %>