<h1>Question <%= @question.id%> </h1>
<p><%= @question.body %></p>
<p>User_id: <%= @question.user_id%></p>

<p><%= link_to "Update question", edit_question_path %></p>

<p><%= link_to 'All questions', questions_path %></p>
